<!DOCTYPE html>

<html lang="en">

    <head>

        <link href="../static/styles.css" rel="stylesheet">

        <title>sharooooone</title>

        <link rel = "shortcut icon" href ="../static/images/logo.ico"
        type = "image/x-icon">

    </head>
    <body>
      <a href="/" class="button logo"><img src="../static/images/logo.png"></a>
      <a href="/about" class="button about"><img src="../static/images/about.png"></a>
      <a href="/drawings" class="button drawings"><img src="../static/images/drawings.png"></a>
      <a href="/komix" class="button comics"><img src="../static/images/komix.png"></a>
      <a href="/clothing" class="button clothing"><img src="../static/images/clothing.png"></a>
      <a href="/contact" class="button contact"><img src="../static/images/contact.png"></a>
</body>
</html>
